/* Setup the background of my website */
body{
    background-image: url("Assets/Images/MilkyWay.jpg");
    background-repeat: yes; 
    background-size: cover; 
    background-position: center;
}

.collapse a{
    color:white;
}

.navbar-brand{
    padding-left: 25px;
    padding-right: 25px;
    margin-top:-7px; 
    margin-bottom:-7px;
    width:"300px";
    color:white;
    font-weight: bold;
    font-size: xx-large;
    background-color: blueviolet;
    font-family: 'Noto Serif', serif;
}

div{
    color: white;
}

.form-control{
    width:750px;
}
#formGroupExampleInput3{
    height:300px;
}

#straight-line{
    border-bottom: grey;
    border-bottom: solid;
}

.btn{
    background-color: blueviolet;
    text-align: left;
    position: fixed;
    left:30px;
}

#portfolio-spacing{
    padding-top:50px;
    padding-left:50px;
    height:250px;
    width:200px;
    align-content:top;
}

.container {
    position: relative;
    /* width: 50%; */
  }
  
  /* Make the image responsive */
  #index  img {
    width: 200px;
    height:250px;
  }
  #portfolio  img {
    width: 125px;
    height:150px;
  }

  .img-responsive{
      float: left;
      padding-right: 15px;;
  }
  
  .container .btn:hover {
    background-color: black;
  }

.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}

.box1{
    position:relative;
    top:25px;
}

.box2{
    position:relative;
    top:25px;
    left:100px;
}

.box3{
    position:relative;
    top:50px;
    left:-10px;
}

.box4{
    position:relative;
    top:50px;
    left:100px;
}

.box1 .text{
    position: absolute;
    text-align: center;
    left:85x;
    bottom:15px;
    background-color: blueviolet;
}

.box2 .text{
    position: absolute;
    text-align: center;
    left:0px;
    bottom:15px;
    background-color: blueviolet;
}

.box3 .text{
    position: absolute;
    text-align: center;
    left:0px;
    bottom:15px;
    background-color: blueviolet;
}

.box4 .text{
    position: absolute;
    left:15px;
    bottom:-15px;
    background-color: blueviolet;
}